@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;700&display=swap');

.div-home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/home/home.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    height: 10rem;
    width: 50rem;
    padding-bottom: 10%;
}

.nav-menu {
    position: absolute;
    bottom: 40px;
    left: 5%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.nav-menu li {
    margin: 10px 0;
}

.nav-menu a {
    font-family:'Sofia Sans Condensed', 'Italic';
    font-size: 4rem;
    transition: opacity 0.3s;
}

.social-icon {
    position: absolute;
    bottom: 6rem;
    right: 5%;
}

.social-icon img {
    width: 4rem;
    height: 4rem;
}