html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    overflow-x: hidden;
    background-image: repeating-radial-gradient(
        circle at 17% 32%, 
        rgba(255, 255, 255, 0.03) 0px,
        rgba(255, 255, 255, 0.03) 1px,
        transparent 1px,
        transparent 3px
    ),
    repeating-radial-gradient(
        circle at 82% 65%,
        rgba(255, 255, 255, 0.02) 0px,
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px,
        transparent 3px
    ),
    repeating-radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0.02) 0px,
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px,
        transparent 4px
    );
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/* Typo Home page menu : Sofia Sans Condensed

Typo pages : Carrois Gothic SC */